.example-card {
  max-width: 500px;
  font-size: 1.2em;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.text-center {
  text-align: center;
  font-size: 0.9em;
  line-height: 1em;
}

.text-content {
  font-size: 0.5em;
  line-height: 1em;
}
