<article>
  <section>
    <p>Como ativar o modo de leitura no Firefox?</p>
    <p>O Mozilla firefox disponibiliza uma visualização de leitura que facilita a
      leitura de páginas, com recurso de alto constrate, mudança de tamanho de fonte, mudança de cor de fundo e entre até mesmo ler o texto</p>
    <p>
      Existe um ícone de livrinho ao lado do endereço da página, basta clicar que ele será ativado.
      Para mais informações: <a href="https://support.mozilla.org/pt-PT/kb/modo-leitura-firefox-paginas-livres-confusoes" title="site do mozilla firefox"
      target="_blank">
        clique aqui
      </a>
    </p>
  </section>
  <section>
    <br />
    <p>
      Se divirta com as listas de animes
    </p>
  </section>
</article>
