<header>
  <h1 class="center-title">Catálago de animes</h1>
  <button accesskey="w" (click)="modifyColorHighConstrast()" mat-button title="Alto constrate">
    Alto constrate (Alt + w)
  </button>
  <span class="text-center">
    Para aumentar a letra ou dar zoom pressione <kbd>Ctrl +</kbd> ou <kbd>cmd  +</kbd> e para diminuir o zoom presione <kbd>Ctrl -</kbd> ou <kbd>cmd -</kbd>
  </span>
</header>
<nav>
  <ul>
    <li>
      <a routerLink="" accesskey="h" routerLinkActive="" title="Página ínicial">
        Página ìnicial (Alt + h)
      </a>
    </li>
    <li>
      <a routerLink="/list" accesskey="l" routerLinkActive="/list" title="Lista de animes">
        Lista de animes (Alt + l)
      </a>
    </li>
    <li>
      <a routerLink="/category" accesskey="c" routerLinkActive="/category" title="Categoria de animes">
        Categorias de animes (Alt + c)
      </a>
    </li>
    <li>
      <a routerLink="/about" accesskey="a" routerLinkActive="/about" title="Sobre o site e criador">
        Sobre (Alt + a)
      </a>
    </li>
  </ul>
</nav>
<main>

  <router-outlet></router-outlet>
</main>
<footer>
  <p>Desenvolvido por <strong>Rodrigo Vaz</strong>, site: <a href="https://rodrigovaz.dev/" title="site do rodrigo vaz" target="_blank">rodrigovaz.dev</a>
  | <a title="e-mail de rodrigo vaz" href="mailto:rodrigovazdeoliveira@gmail.com">rodrigovazdeoliveira@gmail.com</a></p>
</footer>
