.categoria-list {
  width: 100%;
}

.categoria-list li {
  display: inline;
  margin-right: 10px;
  list-style: none;
}

.categoria-list li a {
  font-size: 0.9em;
  line-height: 1me;
  text-decoration: none;
  color: #000;
}

.categoria-list li a:hover {
  text-decoration: underline;
}
